html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    box-sizing: border-box;


}






#page1 {
    width: 100vw;
    height: 100vh;
    background-color: #c5beb4;
    position: relative;


}

@font-face {
    font-family: "light";
    src: url(./font/5f242a694256f02b944d5767_EditorialNew-Light.ttf);
}

@font-face {
    font-family: "medium";
    src: url(./font/5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}

#page1 {
    overflow: auto;
}

@font-face {
    font-family: "canopee";
    src: url(./font/616fd1dd00cf6c70f978fc69_Canopee.ttf);
}

.light {
    font-family: "light", "serif";
    font-weight: normal;
}

.medium {
    font-family: "medium", "serif";
    font-weight: normal;
}

.canopee {
    font-family: "canopee", "serif";
    font-weight: normal;
}

.culam1 .img-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.img-div {
    width: 100%;
    height: '100%';
    object-fit: cover;
    transition: all ease 1.8s;

}

.img-div:hover img {
    scale: 1.2;
    transition: all ease 1.8s;

}

.culam2 .img-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}


.line {
    font-family: "canopee", "serif";
    line-height: 80px;
}

.line1 {
    font-family: "canopee", "serif";
    line-height: 120px;
}

.line3 {
    font-family: "light", "serif";
    line-height: 40px;
}


.line4 {
    font-family: "light", "serif";
    line-height: 55px;
}

.line5 {
    font-family: "canopee", "serif";
    line-height: 26vw;
    letter-spacing: -.01em;
    text-transform: uppercase;
}

.line6 {
    font-family: "canopee", "serif";
    line-height: 20vw;
    letter-spacing: -.01em;
    text-transform: uppercase;
}

.line7 {

    line-height: 1.5vw;
    letter-spacing: -.01em;
    text-transform: uppercase;
}

.box1 {
    overflow-y: hidden;

}

.div-img-2 {
    width: 100%;
    height: '100%';
    object-fit: cover;
    transition: all ease 1.8s;

}

.cta-h {
    width: 80%;
    height: 20vh;
    background-color: #d3cbc2;
    border: 1px solid rgba(29, 29, 27, .5);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 20px;
}


.space {
    font-family: "canopee", "serif";
    line-height: 20vw;
    letter-spacing: -.01em;
    text-transform: uppercase;
}

.shift {
    transform: translateX(260px);
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}

.animat-line {

   animation: moveline 3s infinite ;
   animation-timing-function: linear;
  
}


 @keyframes moveline {
      from {
        transform: translateX(0);  
      }
      to {
        transform: translateX(calc(-100% - 24px)); 
      }
    }